<% provide(:title, "Help")%>
<h1>Help</h1>
<p>Get help on the Ruby on Rails Tutorial at the
	Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
